body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.main {
  padding: 50px 80px;
}

.section-title {
    padding-right: 15px;
    border-bottom: 2px solid #dee7ec;
    margin-right: 40px;
}

.contents {
    height: 500px;
    margin-top: 100px;
}

.contents-Game {
    height: 300px;
    margin: 30px;
    border-bottom: 2px solid #dee7ec;
}

.contents-don {
    height: 700px;
    margin: 30px;
    border-bottom: 2px solid #dee7ec;
}

.contents-mode {
    float: left;
}

.contents-mode p {
    font-size: 24px;
    margin-top: 30px;
}

.contents-item {
  padding-right: 15px;
  border-bottom: 2px solid #dee7ec;
  margin-right: 40px;
  
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

.contents-item .set {
    float: left;
    padding-right: 15px;
}

.dan-i{
    width: 20vw;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
}